.admin-page {
  /* background-color: red; */
  width: 100%;
  /* margin-bottom: 200px; */
  height: 100vh;
  display: flex;
  /* align-items: center; */
}

.admin-page-main {
  margin: 60px 200px;
  width: 100%;
  /* background-color: teal; */
  box-shadow: rgba(181, 181, 197, 0.607) 0px 7px 29px 0px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page-content{
    display: flex;
    flex-direction: column;
}


.admin-p-head {
  text-align: center;
}
.admin-p-heading-1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.admin-p-heading-1 span {
  color: red;
}
.admin-p-heading-1 span i {
  font-size: 2.2rem;
}
.admin-p-heading-2 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 700;
  font-family: nunito;
}

.admin-p-form form {
  margin-top: 50px;
  display: grid;
}

.admin-p-form form label {}
.admin-p-form form input {
    border: none;
    background-color: transparent;
    border-bottom: solid 1px rgb(169, 169, 169) ;
    margin-bottom: 30px;
    padding: 8px;
    font-size: 1.1rem;
    color: white;
}



.admin-p-form form button {
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: poppins;
    cursor: pointer;
}

.admin-p-form a i{
    padding-bottom: 2px;
}

.admin-page a{
    color: white;
    text-decoration: none;
}
.admin-page a:hover{
    color: red;
}

.admin-p-foot{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}
.admin-p-foot a:nth-child(1){
    border-right: solid 2px rgb(172, 172, 172);
    padding-right: 30px;
}



