/* ----------------- offer button ------------------- */
.offerButton {
  background-color: red;
  color: white;
  padding: 15px;
  border: 2px solid white;
  font-size: large;
  font-weight: bolder;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  left: 20px;
  z-index: 1;
  /* animation: zoomIn 1s infinite; */
}

.offerButton i {
  font-size: xx-large;
}
@media only screen and (max-width: 500px) {
.offerButton {
    padding: 10px;
    /* font-size: large; */
}
.offerButton i {
    font-size: 1.3rem;
  }

}

/* ----------------- call button ------------------- */

/* .button-call-btn {
    background-color: red;
    color: white;
    padding: 15px;
    border: 2px solid white;
    font-size: large;
    font-weight: bolder;
    border-radius: 50%;
    position: fixed;
    bottom: 15%;
    left: 20px;
    z-index: 1;
    animation: shake 1s infinite;
  } */

/* ------------ side ------------- */

.side-fix-buttons{
    position: fixed;
    top: 40%;
    /* left: 10%; */
}
.side-fix-heading {
    background: none;
    transform: rotate(270deg);
    /* margin: -30px ; */
    margin: 0 0 40px -40px;
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgb(167, 167, 167);
}

.side-fix-b-icon a{
    color: rgb(167, 167, 167);
    padding: 10px;
    font-size: 1.2rem;
}
.side-fix-b-icon a i{
    margin-top: 10px;
}


@media only screen and (max-width: 500px) {
    
.side-fix-buttons{
    top: 45%;
}
    
.side-fix-heading {
    font-size: .7rem;
    letter-spacing: 3px;
    margin: 0 0 20px -30px;
}


.side-fix-b-icon a{
    padding: 5px;
    font-size: 1rem;
}
.side-fix-b-icon a i{
    margin-top: 10px;
}


}



/* --------call---------- */

.contact-fix-btn{
    position: fixed;
    bottom: 10px;
    right: 20px;
}


.call-fix-buttons, .whatsapp-fix-buttons {
    background-color: red;
    border: white;
    display: inline-block;
    border: solid 2px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-fix-buttons a, .whatsapp-fix-buttons a{
    background-color: transparent;
    border: none;
    /* padding: 10px; */
    font-size: xx-large;
    font-size: 2.2rem;
    font-weight: bolder;
    color: white;
}

.call-fix-buttons{
    animation: shake 1.3s ease .6s infinite;
    
}
.whatsapp-fix-buttons {
    margin-top: 15px;
    background-color: green;
    animation: shake 1.3s ease infinite 1s;
}

@media only screen and (max-width: 500px) {
    .whatsapp-fix-buttons {
        margin-top: 5px;
    }
    .call-fix-buttons a, .whatsapp-fix-buttons a{
        font-size: 1.7rem;
    }
    .call-fix-buttons, .whatsapp-fix-buttons {
    height: 50px;
    width: 50px;
    }
}