
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

body {
  background: #14171a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}





/* ------------- header start ---------------- */


.header{
  padding: 20px 100px;
  display: flex;
  gap: 80px;
  align-items: center;
}

.header-col-1{
  text-align: center;
  font-family: poppins;
  width: 40%;
  padding: 30px;
  background-color: rgb(0, 0, 0);
  border-radius:  0 50px 50px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(211, 211, 211, 0.24) 0px 3px 8px;
  
}

.header-c-heading-1{
  font-size: 2rem;
  font-weight: 600;
  
}
.header-c-heading-2{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(156, 156, 156);
  padding-bottom: 30px;
}

.header-c-inc{ 
  display: flex;
  justify-content: center;
  gap: 60px;
}

.header-c-inc-col{
  font-size: 1rem;
}
.header-c-inc-col span{
  font-size: 1.8rem;
  font-weight: 600;
  color: red;
}

.header-c-form > input{
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.header-c-form > button{
  font-size: 1.2rem;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 10px;
  background-color: red;
  color: white;
  margin-bottom: 20px;
}


/* ------------- header end ---------------- */


